.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.ts
**/*.test.tsx
**/node_modules/**
webview-repos/**/*.*
!webview-repos/*/build/**
!webview-repos/*/dist/**
packages/**